* {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font_0qay2i40406s/iconfont.eot');
  src: url('../font_0qay2i40406s/iconfont.eot?#iefix') format('embedded-opentype'), url('../font_0qay2i40406s/iconfont.woff2') format('woff2'), url('../font_0qay2i40406s/iconfont.woff') format('woff'), url('../font_0qay2i40406s/iconfont.ttf') format('truetype'), url('../font_0qay2i40406s/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  color: #fff;
}
